*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav ul {
  list-style-type: none;
  overflow: hidden;
}

nav li {
  display: flex;
  float: right;
}

.logo {
  float: left;
}

nav li a {
  color: #F0F0F0;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 1.5em;
}

#head {
  background-color: #554332;
  padding: 16px;
}

nav {
  justify-content: space-around;
}

nav a {
  text-align: center;
  text-decoration: none;
}
.dropdown {
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  font-size: 1.5em;
}

.dropbtn {
  cursor: pointer;
  padding: 14px 16px;
  color: #F0F0F0;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  font-size: 16px;
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 25px;
  height: 3px;
  background-color: #F0F0F0;
  margin: 5px;
}

@media screen and (max-width: 650px) {
  .nav-links {
    display: none;
  }

  .mobile-menu {
    display: block;
  }
}

#body {
  padding: 14px 16px;
}
